.header {

    background-color: whitesmoke;
}

.logo {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 15%;

    i {

        font-size: 30px;
    }

    .logo-text {

        font-weight: bold;
    }
}

.main {

    display: flex;
}

.navigation {

    width: 300px;
    min-width: 250px;
    padding: 20px;

    .current-projects, .project-list {

        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 2em;
    }

    .projects-header {

        margin-top: 40px;
    }

    .project-list {

        .project-button {

            display: flex;
            justify-content: space-between;
        }
    }

    .add-proj-btn {

        width: 50%;
        margin-top: 20px;
    }
}

.project-preview {

    width: 900px;
    padding: 20px 40px;
    margin: 0 auto;
}